
<h3>Enviar esta receita para um amigo!</h3>
<%= form_tag(share_recipe_path, method: :post) do %>
<div>
  <%= label_tag :name, 'Seu nome'%>
  <%= text_field_tag :name %>
</div>
<div>
  <%= label_tag :email, 'Email'%>
  <%= text_field_tag :email %>
</div>
<div>
  <%= label_tag :message, 'Mensagem' %>
  <%= text_area_tag :message %>
</div>
  <%= submit_tag 'Enviar' %>
</div>
<% end %>