<div id="menu">
    <%= render 'layouts/navbar' %>
</div> 
    
 <div class="main">
   
      <% if @recipe.errors.any? %>
      <div class="error-alert">
          <div class="alert alert-warning alert-dismissable">
            <p><%= flash[:alert] %></p>
        </div>
      </div>
      <% end %>

    <%= form_for @recipe, html: {class: 'basic-grey', multipart: true} do |f| %>
      
      <% if @recipe.id.nil? %>
        <h1>Nova Receita</h1>
      <% else %>
        <h1>Editando <%= @recipe.title %></h1>
      <% end %> 
      
      <div class="check_box">
        <%= f.label :featured, 'Destaque' %>
        <%= f.check_box :featured %>
      </div>
      
      <div class="field">
        <%= f.label :title, 'Título' %>
        <%= f.text_field :title %>
      </div>
      
      <div class="field">
        <%= f.label :cuisine_id, 'Cozinha' %>
        <%= f.collection_select(:cuisine_id, @cuisine_all, :id, :name) %>
      </div>
      
      <div class="field">
        <%= f.label :recipe_type_id, 'Tipo da Receita' %>
        <%= f.collection_select(:recipe_type_id, @recipe_type_all, :id, :name) %>
      </div>
    
      <div class="field">
        <%= f.label :difficulty, 'Dificuldade' %>
        <%= f.text_field :difficulty %>
      </div>
      
      <div class="field">
        <%= f.label :cook_time, 'Tempo de Preparo' %>
        <%= f.text_field :cook_time %>
      </div>
      
      <div class="field">
        <%= f.label :ingredients, 'Ingredientes' %>
        <%= f.text_field :ingredients %>
      </div>
      
      <div class="field">
        <%= f.label :method, 'Como Preparar' %>
        <%= f.text_field :method %>
      </div>
      
      <div>
        <%= f.label :recipe_cover, 'Foto da Receita' %>
        <%= f.file_field :recipe_cover %>  
      </div>
       <br>     
      <div> 
        <%= f.submit 'Enviar', class:'button' %>
      </div>
    <% end %>
  
</div>
