<div id="menu">
    <%= render 'layouts/navbar' %>
</div> 
    
<div class="main">  
   <h1>Resultado da busca por: <%=@query%></h1>
   <% @results.each do |result| %>
      <h1><%= link_to result.title, recipe_path(result.id) %></h1>
      <li><%= result.recipe_type.name%></li>
      <li><%= result.cuisine.name%></li>
      <li><%= result.difficulty%></li>
      <li><%= result.cook_time%> minutos</li>
   <% end %>
</div>
   