   <h1>Resultado da busca por: <%=@query%></h1>
   
   <% @results.each do |result| %>
   <h1><%= link_to result.title, recipe_path(result.id) %></h1>
   <li><%= result.recipe_type.name%></li>
   <li><%= result.cuisine.name%></li>
   <li><%= result.difficulty%></li>
   <li><%= result.cook_time%> minutos</li>
   <% end %>
   
    # expectativas do usuário após a ação
    expect(page).to have_css('h1', text: 'Resultado da busca por: Bolo de cenoura')
    expect(page).to have_css('h1', text: recipe.title)
    expect(page).to have_css('li', text: recipe.recipe_type.name)
    expect(page).to have_css('li', text: recipe.cuisine.name)
    expect(page).to have_css('li', text: recipe.difficulty)
    expect(page).to have_css('li', text: "#{recipe.cook_time} minutos")
    expect(page).not_to have_css('h1', text: another_recipe.title)