<div id="menu">
    <%= render 'layouts/navbar' %>
</div> 
    
<div class="main">  

  <% if flash[:notice] %>
    <div class="alert alert-success alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
     <p><%= flash[:notice] %></p> 
    </div>
  <% end %>
  
  <h1><%= @recipe.title %></h1>
  
  <% if user_signed_in? %>
    <% if favorited?(@recipe)  %>
      <p><%= link_to 'Remover dos Favoritos', favorite_path(recipe: @recipe), method: :delete %></p>
    <% else %>
      <p><%= link_to 'Adicionar aos Favoritos', favorites_path(recipe: @recipe, user: current_user), method: :post %></p>
    <% end %>
  <% end %>
  
  <p>Autor: <%= @recipe.user.email %></p>
  <h3>Detalhes</h3>
  <p><%= @recipe.recipe_type.name %></p>
  <p><%= @recipe.cuisine.name %></p>
  <p><%= @recipe.difficulty %></p>
  <p><%= @recipe.cook_time %> minutos</p>
  <h3>Ingredientes</h3>
  <p><%= @recipe.ingredients %></p>
  <h3>Como Preparar</h3>
  <p><%= @recipe.method %></p>
  <% if user_signed_in? && current_user.email == @recipe.user.email %>
  <%= link_to 'Editar', edit_recipe_path %>
  <%= link_to 'Excluir', @recipe, method: :delete, data: { confirm: 'Tem certeza que deseja exclur esta receita?' }%>
  <% end %>
  <%= link_to 'Voltar', root_path %>
</div>