<div class 'menu'>
<nav class='nav nav-tabs navbar-menu navbar-fixed-top'>
  <li class='active'><%= link_to 'My Cookbook', root_path, class: 'navbar-brand' %></li>
  <li><%= link_to 'Todas as Receitas', list_recipes_path%></li>
  <% if user_signed_in? %>
    <li><%= link_to 'Minhas Favoritas', my_favorites_recipes_path %></li>
    <li><%= link_to "Olá, #{current_user.email}"%></li>
    <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
    
  <% else %>
    <li><%= link_to 'Entrar', new_user_session_path %></li>
    <li><%= link_to 'Criar Conta', new_user_registration_path %></li>
  <% end %>
  
  <li id="search-box"><%= render 'layouts/search_form' %></li>
</nav>
</div>

<div class="sidenav">
  <%= render 'layouts/navbar_side' %>
</div>
